<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META CHARSET="UTF-8">
</head>
<body>
<header>
    <div id="menu">
        <ul>
            <li>
                <a href="/">inicio</a>
            </li>
            <li>
                <a href="/sell">vender</a>
            </li>
            <li>
                <a href="/contact">contacto</a>
            </li>
            <li>
                <a href="/register">registrarse</a>
            </li>
            <li>
                <a href="/login">login</a>
            </li>
        </ul>
        <div>
</header>
<section id="main">
    {{{body}}}

</section>
<div id="footer">
</div>
</body>
</html>
