<div class="reg-log-cont">
    <div class="reg-log-reg">
        <div class="reg-log-title">
            <h1>Registrate, es gratis y rapido</h1>
        </div>
        <form id="register-form" atcion="#" method="POST">
            <div id="name-last-cont">
                <div class="name">
                    <label for="name">Nombre</label><br />
                    <input type="text" id="name" name="name">
                </div>
                <div class="last-name">
                    <label for="lastName">Apellido</label><br />
                    <input type="text" name="lastName">
                </div>
            </div><br />
            <label for="email">Email</label><br />
            <input type="email" name="email"><br />
            <label for="Password">Contraseña</label><br />
            <input type="password" name="password"><br />
            <label for="repeatPassword">Repita la Contraseña</label><br />
            <input type="password" name="repeatPassword"><br />
            <div class="margin-top-30px">
                <span>Al hacer click en 'Registrame' acepto que: </span>
                <ul class="no-bullets">
                    <li>* He leído y aceptado las Condiciones de uso y la Política de privacidad.</li>
                    <li>* Puedo recibir mensajes y cambiar mis preferencias.</li>
                    <li>* Tengo al menos 18 años</li>
                </ul>
            </div>
                <input type="submit" name="registrarme" value="Registrarme">
        </form>
    </div>
</div>